{% extends "layout.twig" %}

{% block head %}
	<title>
		Detail
	</title>
{% endblock %}


{# {% block connected %}
<p>Ici ya du contenu qui peut bouger</p>
{% endblock %} #}
{% block content %}
	<h1>
		Here is the detail page of
		<?php
		 echo $productId; 
		 ?>
	</h1>
{% endblock %}
