{% extends "layout.twig" %}

{% block head %}
	<title>
		Home
	</title>
{% endblock %}


{# {% block connected %}
<p>Ici ya du contenu qui peut bouger</p>
{% endblock %} #}
{% block content %}
	<h1>
		Welcome Home
	</h1>
{% endblock %}


{# <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<div>
			{{data.title}}
			<p>Juibo ?{{data.juibo}}</p>
		</div>
	</body>
</html> #}
