{% extends "layout.twig" %}

{% block head %}
	<title>
		Account
	</title>
{% endblock %}

{% block content %}
	<h2>Account Page</h2>
	<div id="global-edition">
		<form method="POST" action="/account">
			<div id="edit-zone">
				<h3>
					Edit Personal info
				</h3>
				<p>
					First Name:
				</p>
				<input value={{data.FirstName}}>
				<p>
					Last Name:
				</p>
				<input value={{data.LastName}}>
				<p>
					Email:
				</p>
				<input value={{data.Email}}>
				<p>
					Birthdate:
				</p>
				<input value={{data.Birthdate}}>
				<br><button>Save</button>
			</div>
		</form>
	</div>
	<style>
		#edit-zone {}
		#global-edition {
			display: flex;
			justify-content: center;
			align-items: center
		}
	</style>


{% endblock %}
