{% extends "layout.twig" %}

{% block head %}
	<title>
		Cart
	</title>
{% endblock %}

{% block content %}
    <h1>
		Cart Section
	</h1>
    {% for c in content %}			
	<p>{{ c.ProductId }}</p> <br>
	{% endfor %}
    <button >Proceed to payment</button>
{% endblock %}