{% extends "layout.twig" %}
{% block head %}
	<title>
		Catalog
	</title>
{% endblock %}


{# {% block connected %}
<p>Ici ya du contenu qui peut bouger</p>
{% endblock %} #}
{% block content %}
	<h1>
		Catalog section !
		{{test}}
	</h1>
{% endblock %}
