{% extends "layout.twig" %}

{% block head %}
	<title>
		Detail Snokers
	</title>
	<link rel="stylesheet" href="../static/detail.css"> 
{% endblock %}

{# {% block connected %}
<p>Ici ya du contenu qui peut bouger</p>
{% endblock %} #}

{% block content %}
	<h1>
		Welcome to the product page of the
		{{p.ProductId}}
		product
	</h1>
	<img src="https://picsum.photos/200/200"></img>
<h2>
	{{p.ProductName}}
</h2>
<h2>
	Price :
	{{p.Price}}
	$
	<br><br>
	Description:
</h2>
<p>{{p.Description}}</p>
<div id="product-container"></div>{% endblock %}
