<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../static/layout.css"> {% block head %}{% endblock %}
		</head>

		<body>

			<header>
				<div class="left-nav">
					<div class="logo">Snokers</div>
					<div class="btns-left">
						<a class="btn-nav" href="/">Home</a>
						<a class="btn-nav" href="/catalog">Catalog</a>
					</div>

				</div>

				<div class="right-nav">
					{% if connected != 1 %}
						<a class="btn-nav" href="/login">Login</a>
						<a class="btn-nav" href="/register">Register</a>
					{% else %}
						<a class="btn-nav" href="/logout">Logout</a>
						<a class="btn-nav" href="/account	">My account</a>
					{% endif %}
				</div>
			</header>
			{% if status != '' %}
				<div id="status">
					<p>
						{% block status %}{% endblock %}
					</p>
				</div>
			{% endif %}
			{% block content %}{% endblock %}

		</body>
		<style>
			body {
				background-color: grey;
				margin: 0
			}

			header {
				width: 96%;
				height: 10vh;
				background-color: black;
				display: flex;
				align-items: center;
				justify-content: space-between;
				color: white;
				padding-inline: 2%;
			}

			.left-nav {
				display: flex;
				align-items: center;
				flex-direction: row;
				height: 10vh;
			}

			.logo {
				display: flex;
				align-items: flex-end;
				height: 60%;
				aspect-ratio: 1 / 1;
				background-color: orange;
			}

			.btns-left {
				display: flex;
				justify-content:center;
				flex-direction: column;
				height: 10vh;
			}

			.btn-nav {
				color: white;
				text-decoration: none;
				font-weight: bold;
				font-size: 16px;
				padding-inline: 10%;
				padding-block: 2px;
				width: 8vh;
			}

			.right-nav {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: fit-content;
			}

			.names-input {
				display: flex;
				width: 100%;
			}

			.one-input {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
			}

			label {
				align-self: start;
				margin-left: 10%;
			}

			.short-input {
				width: 80%;
				height: 2.2vh;
				border: 2px solid grey;
				border-radius: 5px;
			}
			#status {
				width: 100%;
				background-color: #62d14b;
				height: 1.1em;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		</style>
	</html>
