{% extends "layout.twig" %}
{% block head %}
	<title>
		Login Snokers
	</title>
	<link rel="stylesheet" href="../static/login.css">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
	<h1>
		Login Section !
	</h1>

{% endblock %}
