{% extends "layout.twig" %}
{% block head %}
	<title>
		Product
	</title>
{% endblock %}


{# {% block connected %}
<p>Ici ya du contenu qui peut bouger</p>
{% endblock %} #}
{% block content %}
	<h1>
		Prodcut selection !
	</h1>
{% endblock %}
