{% extends "base.twig" %}

{% block head %}
    <title>
        Catalog
    </title>
{% endblock %}

{% block content %}
 <h1>Catalog</h1>
    {%for p in products %}
        {{p.ProductName}}
        {{p.Price}}
        {{p.Quantity}}
    {% endfor %}
{% endblock %}