{% extends "base.twig" %}

{% block head %}
    <title>
        Home
    </title>
{% endblock %}

{% block content %}
    {%for p in products %}
        {{p.ProductName}}
        {{p.Price}}
        {{p.Quantity}}
    {% endfor %}
{% endblock %}